/* TODOS ARQUIVOS CSS DO PROJETO */
@import url('home.css');
@import url('about.css');
@import url('services.css');
@import url('virtualcard.css');

/* Default CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%; /* 10px root */
}
body {
    width: 100%;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
}

/* |||CONTAINER PRINCIPAL||| */
#container-main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

/* |||RESPONSIVIDADE||| */
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {}